#layout-footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    height:50px;
    color:white;
    background-color: grey;
    padding:5px 10px;
    display:flex;
    justify-content: flex-start
}

#layout-footer a{
    color:white;
    text-decoration: none;
}

.footer-nav ul{
    list-style: none;
}

/*footer {
    background-color: gray;
    display: flex;
    flex-direction: row; }
footer span {
      color: white;
      align-self: center; }
footer ul {
      list-style-type: none; }
    footer ul li a {
        color: white;
        text-decoration: none; }*/